<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>157313324250-cie9spe1o965t7hmc6bomvts5nkfor6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157313324250-cie9spe1o965t7hmc6bomvts5nkfor6c</string>
	<key>API_KEY</key>
	<string>AIzaSyB2S79Yli6TETUQ3fggAUHn64ThPb7v0r4</string>
	<key>GCM_SENDER_ID</key>
	<string>157313324250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Prathyusha.GroceryPlanner</string>
	<key>PROJECT_ID</key>
	<string>groceryplanner-e2a60</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryplanner-e2a60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:157313324250:ios:8573c1ff7a709c38</string>
	<key>DATABASE_URL</key>
	<string>https://groceryplanner-e2a60.firebaseio.com</string>
</dict>
</plist>